<div
    data-turbo-allow-cache="true"
    class="modal fade"
    tabindex="-1"
    aria-modal="true"
    data-controller="plain-modal"
>
    <div class="modal-dialog modal modal-dialog-centered">
        <div class="modal-content">
            <form id="form" name="form" method="post">
                <div class="modal-status bg-primary"></div>
                <div class="modal-body text-center py-4">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon mb-2 text-primary icon-lg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                        >
                        </path>
                        <path d="M12 9v2m0 4v.01"></path>
                        <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75">
                        </path>
                    </svg>
                    <h3 class="text-start">
                        {{
                            'This page does not exist in %language%. Do you want to copy content from another language?'|trans({'%language%': content_context_language()|language_name}, 'admin')
                        }}
                    </h3>
                    <div class="mb-3">
                        <label class="form-label text-start" for="form_locale">
                            {{
                                'choose language'|trans({}, 'admin')|capitalize
                            }}
                        </label>
                        <select
                            name="form[locale]"
                            id="form_locale"
                            class="form-select"
                            data-plain-modal-target="localeSelect"
                        >
                            {%
                                set defaultTrans = page.getDefaultTranslation()
                            %}
                            {%
                                for trans in page.translations|sort((a, b) => a.locale|language_name <=> b.locale|language_name)
                            %}
                                <option
                                    value="{{ trans.locale }}"
                                    data-url-value="{{ path('admin_page_edit', {id: page.id, locale: trans.locale}) }}"
                                    {% if trans.id == defaultTrans.id %}
                                        selected="selected"
                                    {% endif %}
                                >
                                    {{ trans.locale|language_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="text-muted"></div>
                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <div class="row">
                            <div class="col">
                                <twig:Xutim:Admin:Button
                                    variant="default"
                                    type="button"
                                    class="w-100"
                                    data-bs-dismiss="modal"
                                    aria-label="close"
                                    data-action="click->plain-modal#dismissModal"
                                >
                                    {{
                                        'action.close'|trans({}, 'admin')|capitalize
                                    }}
                                </twig:Xutim:Admin:Button>
                            </div>
                            <div class="col">
                                <input
                                    id="form__token"
                                    name="form[_token]"
                                    value="{{ csrf_token('pulse-dialog') }}"
                                    type="hidden"
                                />

                                <twig:Xutim:Admin:Button
                                    variant="primary"
                                    class="w-100"
                                    type="button"
                                    data-action="click->plain-modal#getResponse"
                                    data-bs-dismiss="modal"
                                >
                                    {{
                                        'action.copy'|trans({}, 'admin')|capitalize
                                    }}
                                </twig:Xutim:Admin:Button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
