{% import '@XutimCore/admin/common/forms.html.twig' as forms %}

{{ form_start(form) }}
{% if form.page is defined %}
    {{ form_row(form.page, {attr: {'data-controller': 'tom-select'}}) }}
{% endif %}
{% if form.article is defined %}
    {{ form_row(form.article, {attr: {'data-controller': 'tom-select'}}) }}
{% endif %}
{% if form.snippet is defined %}
    {{ form_row(form.snippet, {attr: {'data-controller': 'tom-select'}}) }}
{% endif %}
{% if form.tag is defined %}
    {{ form_row(form.tag, {attr: {'data-controller': 'tom-select'}}) }}
{% endif %}
{% if form.file is defined %}
    {{ form_row(form.file) }}
    {# hidden row #}
    {% include '@XutimCore/admin/form/_file_widget.html.twig' %}
    {{ form_row(form.fileDescription) }}
{% endif %}

{% if form.color is defined %}
    <div class="mb-3">
        {{ form_label(form.color) }}
        {{ forms.colorInput(form.color.vars.name, '') }}
        {{ form_help(form.color) }}
        {{ form_errors(form.color) }}
    </div>
{% endif %}
{% if form.text is defined %}
    {{ form_row(form.text) }}
{% endif %}
{% if form.link is defined %}
    {{ form_row(form.link) }}
{% endif %}
{% if form.latitude is defined %}
    {{ form_row(form.latitude) }} {{ form_row(form.longitude) }}
{% endif %}
{{ form_row(form.submit) }}
{{ form_row(form._token) }}
{{ form_end(form, {render_rest: false}) }}
