{% import '@XutimCore/admin/common/badges.html.twig' as badges %}
<tr
    class="draggable-item"
    data-sortable-index-value="{{ item.position }}"
    id="block-item-{{ item.id }}"
>
    <td style="cursor: grab;" class="draggable-handle w-6">
        <twig:ux:icon name="tabler:grip-vertical" />
    </td>
    <td class="text-center">{{ badges.blockItemColorBadge(item) }}</td>
    <td>
        <div class="d-flex justify-content-start">
            {% if item.hasArticle %}
                <twig:ux:icon
                    name="tabler:news"
                    title="{{ 'article'|trans({}, 'admin') }}"
                    data-controller="tooltip"
                    class="w-4"
                />
            {% endif %}
            {% if item.hasPage %}
                <twig:ux:icon
                    name="tabler:folder"
                    title="{{ 'page'|trans({}, 'admin') }}"
                    data-controller="tooltip"
                    class="w-4"
                />
            {% endif %}
            {% if item.hasSnippet() %}
                <twig:ux:icon
                    name="tabler:abc"
                    title="{{ 'snippet'|trans({}, 'admin') }}"
                    data-controller="tooltip"
                    class="w-4"
                />
            {% endif %}
            {% if item.hasFile() %}
            {% if item.file.isImage() %}
                <twig:ux:icon
                    name="tabler:photo"
                    title="{{ 'image'|trans({}, 'admin') }}"
                    data-controller="tooltip"
                    class="w-4"
                />
            {% else %}
                <twig:ux:icon
                    name="tabler:file"
                    title="{{ 'file'|trans({}, 'admin') }}"
                    data-controller="tooltip"
                    class="w-4"
                />
            {% endif %}

            {% endif %}
            {% if item.hasTag() %}
                <twig:ux:icon
                    name="tabler:tag"
                    title="{{ 'tag'|trans({}, 'admin') }}"
                    data-controller="tooltip"
                    class="w-4"
                />
            {% endif %}
            {% if item.hasMediaFolder() %}
                <twig:ux:icon
                    name="tabler:folders"
                    title="{{ 'Media folder'|trans({}, 'admin') }}"
                    data-controller="tooltip"
                    class="w-4"
                />
            {% endif %}
        </div>
    </td>
    {% if block.blockItems|filter(item => item.file) is not empty %}
        <td class="w-6">
            {% if item.file %}
                <button
                    data-lightbox-url-value="{{ uploaded_asset(item.file.fileName) }}"
                    data-controller="lightbox"
                    data-action="click->lightbox#open"
                    class="btn-link"
                >
                    <span
                        class="avatar me-2"
                        style="background-image: url({{ path('file_show', {id: item.file.id, extension: 'image'}) }})"
                    ></span>
                </button>
            {% endif %}
        </td>
    {% endif %}
    <td>
        {% if item.hasObject() %}
            {% set hasUntranslated = false %}
            {% for trans in item.object.translations %}
                {% if trans.isPublished() == false %}
                    {% set hasUntranslated = true %}

                {% endif %}
            {% endfor %}
            {% if hasUntranslated %}
                {{ badges.untranslatedBadge }}
            {% endif %}
        {% endif %}
        {% if item.hasArticle %}
            <a href="{{ admin_path('admin_article_show', {id: item.article.id}) }}">
                {{ item.article.defaultTranslation.title }}
            </a>
        {% endif %}
        {% if item.hasPage %}
            <a href="{{ admin_path('admin_page_list', {id: item.page.id}) }}">
                {{ item.page.defaultTranslation.title }}
            </a>
        {% endif %}
    </td>
    <td>
        {% if item.text %}
            {{ item.text }}
        {% endif %}
    </td>
    <td>
        {% if item.link %}
            <a href="{{ item.link }}">{{ item.link }}</a>
        {% endif %}
    </td>
    <td>
        {% if item.tag %}
            <a href="{{ admin_path('admin_tag_edit', {id: item.tag.id}) }}">
                {{ item.tag.translationByLocaleOrAny(app.locale).name }}
            </a>
        {% endif %}
    </td>
    <td>
        {% if item.snippet %}
            <a href="{{ admin_path('admin_snippet_list', {searchTerm: item.snippet.code}) }}">
                {{ item.snippet.code }}
            </a>
        {% endif %}
    </td>
    <td>
        {% if item.hasMediaFolder() %}
            <a href="{{ admin_path('admin_media_list', {id: item.mediaFolder.id}) }}">
                {{ item.mediaFolder.name }}
            </a>
        {% endif %}
    </td>
    <td class="text-center">
        <twig:Xutim:Admin:Button
            tag="a"
            variant="link"
            data-turbo-frame="modal"
            href="{{ admin_path('admin_block_edit_item', {id: item.id}) }}"
        >
            <twig:Xutim:Admin:Icon name="edit" />
        </twig:Xutim:Admin:Button>

        <twig:Xutim:Admin:ModalDialog
            class="btn-link text-danger px-0"
            action="{{ admin_path('admin_block_remove_item', {id: item.id}) }}"
            confirmActionLabel="{{ 'action.remove'|trans({}, 'admin')|capitalize }}"
            modalDialogColor="danger"
        >
            <twig:Xutim:Admin:Icon name="x" />
        </twig:Xutim:Admin:ModalDialog>
    </td>
</tr>
