{% extends '@XutimCore/admin/base.html.twig' %}

{% block pageTitle %}{{ 'blocks'|trans({}, 'admin')|capitalize }}{% endblock %}

{% block breadcrumbHeader %}
    <twig:Xutim:Admin:Breadcrumbs>
        <li class="breadcrumb-item">Blocks</li>
    </twig:Xutim:Admin:Breadcrumbs>
{% endblock %}

{% block pageMenu %}
    {% if app.user.isDeveloper() %}
        <twig:Xutim:Admin:Button
            tag="a"
            variant="nav"
            href="{{ admin_path('admin_block_new') }}"
        >
            <twig:Xutim:Admin:Icon name="block" />
            {{ 'New block'|trans({}, 'admin') }}
        </twig:Xutim:Admin:Button>
    {% endif %}
{% endblock %}

{% block body %}
    {%
        component 'Xutim:Admin:DataTable' with {
            frameId: 'block-list',
            tableBodyId: 'block-list-table-body',
            pager: blocks,
            filter: filter,
            showChips: true,
            columns: [
              {
                key: 'name',
                label: 'Name'|trans({}, 'admin'),
                sortable: true,
                order: 'name',
                filter: {type: 'none'},
                chip: true,
              },
              {
                key: 'description',
                label: 'Description'|trans({}, 'admin'),
                sortable: true,
                order: 'description',
                filter: {type: 'none'},
                chip: true,
              },
              {
                key: 'layout',
                label: 'Layout'|trans({}, 'admin'),
                sortable: false,
                filter: {type: 'none'},
                chip: true,
              },
              {
                key: 'articles',
                label: 'Articles'|trans({}, 'admin'),
                sortable: false,
                filter: {type: 'none'},
                chip: false,
              },
              {
                key: 'pages',
                label: 'Pages'|trans({}, 'admin'),
                sortable: false,
                filter: {type: 'none'},
                chip: false,
              },
          ],
        }
    %}
    {% block header %}
        {% import '@XutimCore/admin/common/icons.html.twig' as icons %}
        <th>
            <a href="{{ admin_filter_order_path_with('name', filter) }}">
                {{ 'name'|trans({}, 'admin') }}
                {{
                    icons.order_arrow('name', filter.orderColumn, filter.orderDirection)
                }}
            </a>
        </th>
        <th>{{ 'description'|trans({}, 'admin')|capitalize }}</th>
        <th>{{ 'layout'|trans({}, 'admin')|capitalize }}</th>
        <th class="w-1">{{ 'articles'|trans({}, 'admin')|capitalize }}</th>
        <th class="w-1">{{ 'pages'|trans({}, 'admin')|capitalize }}</th>
    {% endblock %}

    {% block body %}
        {% for block in blocks %}
            {{ include('@XutimCore/admin/block/_block_row.html.twig') }}
        {% endfor %}
    {% endblock %}
    {% endcomponent %}
{% endblock %}
