{% extends '@XutimCore/admin/modalBase.html.twig' %}
{% import '@XutimCore/admin/common/badges.html.twig' as badges %}
{% set title = 'Add block item'|trans({}, 'admin') %}

{% block breadcrumbHeader %}
    <twig:Xutim:Admin:Breadcrumbs>
        <li class="breadcrumb-item">
            <a href="{{ admin_path('admin_block_list') }}">Blocks</a>
        </li>
        <li class="breadcrumb-item">New block</li>
    </twig:Xutim:Admin:Breadcrumbs>
{% endblock %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block body %}
    <div class="card">
        <h3 class="card-header">{{ title }}</h3>
        <div class="card-body">
            {{ include('@XutimCore/admin/block/_block_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block stream_success %}
    <turbo-stream action="refresh" targets="#block-item-list-table-body">
        <template>
            {{ include('@XutimCore/admin/block/_block_item_row.html.twig') }}
        </template>
    </turbo-stream>
{% endblock %}
