{% import '@XutimCore/admin/common/translatable.html.twig' as translatable %}

<div class="mb-3">
    <twig:Xutim:Admin:SidebarSection>
        <twig:Xutim:Admin:SidebarItem id="media-copyright-sidebar-item">
            <twig:block name="header">
                {{ 'copyright'|trans({}, 'admin')|capitalize }}:
            </twig:block>
            <twig:block name="content">
                {{ file.copyright }}

                <div class="btn-group float-end">
                    <twig:Xutim:Admin:Button
                        tag="a"
                        variant="link"
                        class="p-0"
                        data-turbo-frame="modal"
                        href="{{ path('admin_media_copyright_edit', {id: file.id}) }}"
                    >
                        <twig:Xutim:Admin:Icon name="edit" />
                    </twig:Xutim:Admin:Button>
                </div>
            </twig:block>
        </twig:Xutim:Admin:SidebarItem>
        <twig:Xutim:Admin:SidebarItem>
            <twig:block name="header">
                {{ 'author'|trans({}, 'admin')|capitalize }}:
            </twig:block>
            <twig:block name="content">
                {% if firstRev %}
                    {{ firstRev.userIdentifier }}
                {% else %}
                    {{ 'unknown'|trans({}, 'admin') }}
                {% endif %}
            </twig:block>
        </twig:Xutim:Admin:SidebarItem>
    </twig:Xutim:Admin:SidebarSection>
    <twig:Xutim:Admin:SidebarSection>
        <twig:Xutim:Admin:SidebarHeader>
            {{ 'original file'|trans({}, 'admin')|capitalize }}
        </twig:Xutim:Admin:SidebarHeader>
        <twig:Xutim:Admin:SidebarItem>
            <twig:block name="header">
                {{ 'file size'|trans({}, 'admin')|capitalize }}:
            </twig:block>
            <twig:block name="content">
                {% if fileInfo %}
                    {{ (fileInfo.size / 1024)|round(0) }} Kb
                {% else %}
                    {{ 'unknown'|trans({}, 'admin') }}
                {% endif %}
            </twig:block>
        </twig:Xutim:Admin:SidebarItem>

        {% if imageInfo %}
            <twig:Xutim:Admin:SidebarItem>
                <twig:block name="header">
                    {{ 'image dimensions'|trans({}, 'admin')|capitalize }}:
                </twig:block>
                <twig:block name="content">
                    {{ imageInfo.width }} × {{ imageInfo.height }}
                </twig:block>
            </twig:Xutim:Admin:SidebarItem>

            <twig:Xutim:Admin:SidebarItem>
                <twig:block name="header">
                    {{ 'image ratio'|trans({}, 'admin')|capitalize }}:
                </twig:block>
                <twig:block name="content">
                    {{ imageInfo.ratioLabel }} ({{ imageInfo.decimalRatio }})
                </twig:block>
            </twig:Xutim:Admin:SidebarItem>
        {% endif %}
    </twig:Xutim:Admin:SidebarSection>
    <twig:Xutim:Admin:SidebarSection>
        <twig:Xutim:Admin:SidebarItem>
            <twig:block name="content">
                <twig:Xutim:Admin:Button
                    tag="a"
                    class="btn btn-outline-danger"
                    data-turbo-frame="modal"
                    href="{{ path('admin_media_delete', {id: file.id}) }}"
                >
                    <twig:Xutim:Admin:Icon name="trash" />
                    {{ 'delete'|trans({}, 'admin')|capitalize }}
                </twig:Xutim:Admin:Button>
            </twig:block>
        </twig:Xutim:Admin:SidebarItem>
    </twig:Xutim:Admin:SidebarSection>
</div>
