{% extends '@XutimCore/admin/modalBase.html.twig' %}

{% set title = 'New media folder'|trans({}, 'admin') %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ title }}</h3>
        </div>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block stream_success %}
    <turbo-stream action="prepend" targets="#media-folder-list">
        <template>
            <div class="col">
                <a
                    class="card card-link"
                    href="{{ admin_path('admin_media_list', {id: folder.id}) }}"
                >
                    <div class="card-body d-flex align-items-center gap-2">
                        <twig:Xutim:Admin:Icon name="folder" />
                        <div class="flex-fill">
                            <div class="fw-medium text-truncate">
                                {{ folder.name }}
                            </div>
                            {%
                                if folder.childrenCount is defined or folder.filesCount is defined
                            %}
                                <div class="text-secondary small">
                                    {{ folder.childrenCount|default(0) }}
                                    {{ 'folders'|trans({}, 'admin') }},
                                    {{ folder.filesCount|default(0) }}
                                    {{ 'files'|trans({}, 'admin') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        </template>
    </turbo-stream>
{% endblock %}
