<turbo-frame id="file-translation-frame">
    <div data-controller="reload-frame">
        <form name="file_translation" method="post">
            <div class="mb-3">
                <label
                    for="file_translation_language_default"
                    class="form-label required"
                >
                    {{ 'language'|trans({}, 'admin') }}
                </label>
                <select
                    data-action="change->reload-frame#reloadFrame"
                    class="form-select"
                    name="file_translation_language_default"
                    id="file_translation_language_default"
                >
                    {%
                        for trans in file.translations|sort((a, b) => a.locale|language_name <=> b.locale|language_name)
                    %}
                        <option
                            value="{{ trans.locale }}"
                            {% if trans.locale == translation.locale %}
                                selected="selected"
                            {% endif %}
                            data-url-value="{{ path('admin_media_translation_show', {id: trans.id, locale: trans.locale}) }}"
                        >
                            {{ trans.locale|language_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label
                    for="file_translation_name_default"
                    class="form-label required"
                >
                    {{ 'name'|trans({}, 'admin') }}
                </label>
                <div class="input-group mb-3">
                    <input
                        type="text"
                        id="file_translation_name_default"
                        value="{{ translation.name }}"
                        class="form-control"
                        disabled="disabled"
                    />
                </div>
            </div>
            <div class="mb-3">
                <label
                    for="file_translation_alt_default"
                    class="form-label required"
                >
                    {{ 'alt'|trans({}, 'admin') }}
                </label>
                <div class="input-group mb-3">
                    <input
                        type="text"
                        id="file_translation_alt_default"
                        value="{{ translation.alt }}"
                        class="form-control"
                        disabled="disabled"
                    />
                </div>
            </div>
        </form>
    </div>
</turbo-frame>
