{% import _self as macro %}

<div class="d-flex flex-column justify-content-start">
    {% set activeLocale = content_context_language() %}
    {% set translatedLabel = 'Translated'|trans({}, 'admin') %}

    {# main languages #}
    {%
        set mainLanguages = site_context.locales
        |filter(locale => app.user.canTranslate(locale))
    %}
    {% if mainLanguages is not empty %}
        <div class="d-flex justify-content-end align-items-center mb-2">
            {% for locale in mainLanguages %}
                {{
                    macro.renderLocale(locale, this.entity, this.simpleTranslation, activeLocale, translatedLabel)
                }}
            {% endfor %}
        </div>
    {% endif %}

    {# extended languages #}
    {% if this.showExtendedLanguages is same as(true) %}
        {%
            set extendedLanguages = site_context.extendedContentLocales
            |filter(locale => app.user.canTranslate(locale))|sort((loc1, loc2) => loc1 <=> loc2)
        %}
        {% if extendedLanguages is not empty %}
            <div class="d-flex justify-content-end align-items-center flex-wrap row-gap-1">
                {% for locale in extendedLanguages %}
                    {{
                        macro.renderLocale(locale, this.entity, this.simpleTranslation, activeLocale, translatedLabel)
                    }}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>

{%
    macro renderLocale(locale, entity, simpleTranslation, activeLocale, translatedLabel)
%}
    <a
        href="{{ admin_current_path_with({_content_locale: locale}) }}"
        data-turbo-prefetch="false"
    >
        {% set isActive = locale == activeLocale %}
        {%
            set classes = isActive ? ' bg-outline-primary border-3 border-primary' : ' text-secondary'
        %}

        <twig:Xutim:Admin:Badge class="{{ classes }}">
            {% import '@XutimCore/admin/common/badges.html.twig' as badges %}
            {% if entity is not null %}
                {% set trans = entity.translationByLocale(locale) %}
                {% if trans is null %}
                    {{ badges.missingBadge() }}
                {% else %}
                    {% if simpleTranslation == true %}
                        {{ badges.badge('text-bg-green', translatedLabel) }}
                    {% else %}
                        {{ badges.publicationStatusBadge(trans) }}
                    {% endif %}
                {% endif %}
            {% endif %}
            {{ locale }}
        </twig:Xutim:Admin:Badge>
    </a>
{% endmacro %}
