<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% block head %}
            <meta charset="{{ _charset }}" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1, viewport-fit=cover"
            />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="robots" content="noindex,nofollow" />
            <meta name="view-transition" content="same-origin" />
            <title>{% block title %}{% endblock %}</title>

            {% block css %}{% endblock %}

            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link
                rel="preconnect"
                href="https://fonts.gstatic.com"
                crossorigin
            />
            <link
                href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap"
                rel="stylesheet"
            />
            {% block javascripts %}
                {{ importmap('app-admin') }}
            {% endblock %}
        {% endblock head %}
    </head>

    <body>
        <div class="page">
            {% if block('publicLink') is defined %}
                {% set _publicLinkBlock = block('publicLink') %}
            {% else %}
                {% set _publicLinkBlock %}
                    <twig:Xutim:Admin:PublicPageLink />
                {% endset %}
            {% endif %}

            {%
                include '@XutimCore/admin/_top_bar.html.twig' with {
                    publicLinkBlock: _publicLinkBlock|raw
                }
            %}
            <header id="navbar-local" class="navbar-expand-md">
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <div class="navbar navbar-light">
                        <div class="container-xl">
                            {% if block('breadcrumbHeader') is defined %}
                                <div class="m-2">
                                    {% set _bp = block('breadcrumbHeader') %}
                                    {{ _bp|raw }}
                                </div>
                            {% endif %}
                            <ul class="navbar-nav sm:flex-row flex-col order-md-last">
                                {%
                                    set pageMenuBlock = block('pageMenu') is defined ? block('pageMenu') : ''
                                %}
                                {{ pageMenuBlock|raw }}
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            {{ include('@XutimCore/admin/_impersonate_bar.html.twig') }}

            <div class="page-wrapper" id="main-content">
                <div class="page-header">
                    <div class="{{ containerClass is defined ? containerClass : 'container-xl' }}">
                        <div class="row g-2 align-items-center">
                            <div class="col">
                                {% if block('pagePreTitle') is defined %}
                                    {% set _pph = block('pagePreTitle') %}
                                    <div class="page-pretitle">{{ _pph }}</div>
                                {% endif %}
                                {% if block('pageTitle') is defined %}
                                    {% set _ph = block('pageTitle') %}
                                    <h2 class="page-title">{{ _ph|raw }}</h2>
                                {% endif %}
                            </div>
                            {% if block('languageBar') is defined %}
                                {% set langBarBlock = block('languageBar') %}
                                <div class="col-auto ms-auto">
                                    {{ langBarBlock|raw }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="page-body">
                    <div class="{{ containerClass is defined ? containerClass : 'container-xl' }}">
                        <div id="flash-container">
                            {{ include('@XutimCore/admin/_flashes.html.twig') }}
                        </div>
                        {% block body %}{% endblock %}
                    </div>
                </div>
                {{ include('@XutimCore/admin/_footer.html.twig') }}
            </div>
        </div>
        {% block sidebar %}
        {% endblock %}
        <twig:Xutim:Admin:Modal>
            <turbo-frame
                id="modal"
                data-modal-target="dynamicContent"
                data-action="turbo:before-fetch-request->modal#showLoading"
            >
                {{
                    include('@XutimCore/admin/_frameSuccessStream.html.twig', {frame: 'modal'})
                }}
            </turbo-frame>
            <twig:block name="loading_template">
                <div class="card placeholder-glow">
                    <div class="ratio ratio-21x9 card-img-top placeholder">
                    </div>
                    <div class="card-body">
                        <div class="placeholder col-9 mb-3"></div>
                        <div class="placeholder placeholder-xs col-10"></div>
                        <div class="placeholder placeholder-xs col-11"></div>
                        <div class="mt-3">
                            <twig:Xutim:Admin:Button
                                type="a"
                                href="#"
                                tabindex="-1"
                                class="disabled placeholder col-4"
                                aria-hidden="true"
                            ></twig:Xutim:Admin:Button>
                        </div>
                    </div>
                </div>
            </twig:block>
        </twig:Xutim:Admin:Modal>
    </body>
</html>
