<turbo-stream action="update" target="file-container">
    <template>
        {% for file in object.files %}
            {% if file.isImage() %}
                {% set fileUrl = uploaded_asset(image.fileName)| imagine_filter('thumb_small') %}
            {% else %}
                {% set fileUrl = uploaded_asset(image.fileName) %}
            {% endif %}
            {% set name = file.translationByLocaleOrAny(content_context_language()).name %}
            {% set alt = file.translationByLocaleOrAny(content_context_language()).alt|default('') %}
            <twig:Xutim:Admin:SidebarItem>
                {% import '@XutimCore/admin/common/icons.html.twig' as icons %}
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        {% if file.isImage() %}
                            <span
                                class="avatar"
                                style="background-image: url({{ fileUrl }})"
                            ></span>
                        {% else %}
                            <span class="avatar">
                                {{ icons.fileType(file.extension) }}
                            </span>
                        {% endif %}
                    </div>
                    <div class="text-truncate ms-2">
                        <div class="font-weight-medium">{{ name }}</div>
                        <div class="text-secondary">{{ alt }}</div>
                    </div>
                    <div class="ms-auto">
                        <twig:Xutim:Admin:Button
                            class="btn-link clipboard-input pe-0"
                            variant="default"
                            data-controller="clipboard"
                            data-clipboard-text="{{ fileUrl }}"
                            data-bs-toggle="popover"
                            data-bs-container="body"
                            data-bs-placement="top"
                            data-bs-content="{{ 'message.copied'|trans|capitalize }}!"
                        >
                            <twig:Xutim:Admin:Icon name="clipboard" />
                        </twig:Xutim:Admin:Button>
                    </div>
                </div>
            </twig:Xutim:Admin:SidebarItem>
        {% endfor %}
    </template>
</turbo-stream>
