<turbo-frame id="editorjs-frame">
    {{
        form_start(form, {
            attr: {
                id: form.vars.id,
                'data-controller': 'editorjs-form slug-generator',
                'data-action': 'submit->editorjs-form#save:prevent',
                'data-editorjs-form-block-codes-value': fetch_block_codes()|json_encode,
                'data-editorjs-form-tags-value': fetch_tags()|json_encode,
                'data-editorjs-form-fetch-files-url-value': admin_path('admin_json_file_list'),
                'data-editorjs-form-fetch-all-files-url-value': admin_path('admin_json_file_all_list'),
                'data-editorjs-form-fetch-anchor-snippets-url-value': admin_path('admin_json_snippet_list', {type: 'anchor'}),
                'data-editorjs-form-fetch-file-url-value': admin_path('admin_json_file_show', {id: ':id:'}),
                'data-editorjs-form-fetch-images-url-value': admin_path('admin_json_image_list'),
                'data-editorjs-form-page-ids-url-value': admin_path('admin_json_page_list'),
                'data-editorjs-form-article-ids-url-value': admin_path('admin_json_article_list'),
                'data-editorjs-form-tag-ids-url-value': admin_path('admin_json_tag_list'),
                'data-editorjs-form-disable-editing-value': disableEditing is defined ? disableEditing : false,
                'data-editorjs-form-publish-label-value': 'Save and publish'|trans({}, 'admin'),
                'data-editorjs-form-draft-label-value': 'Save as draft'|trans({}, 'admin'),
                'data-slug-generator-url-value': admin_path('admin_json_content_translation_generate_slug'),
                'data-slug-generator-enabled-value': translation == null ? 'true' : 'false',
                'data-slug-generator-locale-value': content_context_language(),
            },
        })
    }}

    {{ form_row(form.preTitle) }}
    {{
        form_row(form.title, {
            attr: {
                'data-action': 'input->slug-generator#fetchAndReplaceSlugOnTitle',
                'data-slug-generator-target': 'titleField',
            },
        })
    }}
    {{ form_row(form.subTitle) }}

    {{ form_label(form.slug) }}
    <div class="input-group mb-3">
        {{
            form_widget(form.slug, {
                attr: {
                    'data-slug-generator-target': 'slugField',
                },
            })
        }}
        {%
            if is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_EDITOR'))
        %}
            <twig:Xutim:Admin:Button
                variant="default"
                class="pe-1"
                type="button"
                id="slug-unblock"
                data-action="click->slug-generator#unblockSlugField"
            >
                <twig:Xutim:Admin:Icon name="lock" />
            </twig:Xutim:Admin:Button>
        {% endif %}

        {{ form_errors(form.slug) }}
    </div>
    {{ form_help(form.slug) }}

    {{ form_row(form.description) }}

    {{
        form_row(form.locale, {
            attr: {
                'data-action': 'change->slug-generator#fetchAndReplaceSlugOnLocale',
                'data-slug-generator-target': 'localeField',
            },
        })
    }}

    <div class="mb-3 mt-6">
        <div data-editorjs-form-target="editorHolder"></div>
    </div>

    <input type="hidden" name="_save_action" value="publish" data-editorjs-form-target="saveAction">

    <div class="d-none">
        <button type="submit" id="content_translation_submit"></button>
    </div>
    {{
        form_widget(form.content, {
            attr: {
                'data-editorjs-form-target': 'contentInput',
            },
        })
    }}

    {% if form.vars.disabled == false %}
    <div class="py-3 bg-white border-top mt-4" style="position: sticky; bottom: 0; z-index: 10;">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary" data-editorjs-form-target="primaryBtn">
                {{ 'Save and publish'|trans({}, 'admin') }}
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">{{ 'Toggle dropdown'|trans({}, 'admin') }}</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item"
                    data-action="click->editorjs-form#chooseSaveAction"
                    data-editorjs-form-action-param="publish"
                >
                    {{ 'Save and publish'|trans({}, 'admin') }}
                </button>
                <button type="button" class="dropdown-item"
                    data-action="click->editorjs-form#chooseSaveAction"
                    data-editorjs-form-action-param="draft"
                >
                    {{ 'Save as draft'|trans({}, 'admin') }}
                </button>
            </div>
        </div>
    </div>
    {% endif %}

    {{ form_end(form) }}
</turbo-frame>
