<twig:Xutim:Admin:SidebarItem id="published-at-sidebar-item">
    <twig:block name="header">
        {{ 'publish'|trans({}, 'admin')|capitalize }}:
    </twig:block>
    <twig:block name="content">
        {% if article.publishedAt and article.publishedAt > date('now') %}
            <span
                title="{{article.publishedAt|date('d/m/Y H:i')}}"
                data-controller="tooltip"
            >
                {{ article.publishedAt|time_until }}
            </span>
        {% elseif article.publishedAt %}
            <span
                title="{{article.publishedAt|date('d/m/Y H:i')}}"
                data-controller="tooltip"
            >
                {{ article.publishedAt|time_ago }}
            </span>
        {% else %}
            {{ 'Not yet published'|trans({}, 'admin') }}
        {% endif %}
    </twig:block>
</twig:Xutim:Admin:SidebarItem>
