<twig:Xutim:Admin:SidebarItem id="published-at-sidebar-item">
    <twig:block name="header">
        {% if article.isPublishingScheduled() %}
            {{ 'scheduled for'|trans({}, 'admin')|capitalize }}:
        {% else %}
            {{ 'published on'|trans({}, 'admin')|capitalize }}:
        {% endif %}
    </twig:block>
    <twig:block name="content">
        {% if translation.isPublished() %}
            {% if translation.publishedAt %}
                <span
                    title="{{ translation.publishedAt|date('d/m/Y H:i') }}"
                    data-controller="tooltip"
                >
                    {{ translation.publishedAt|time_ago }}
                </span>
            {% else %}
                -
            {% endif %}
        {% elseif article.isPublishingScheduled() %}
            <time
                datetime="{{ article.scheduledAt|date('c') }}"
                title="{{ article.scheduledAt|format_datetime('long') }}"
                class="d-inline-flex flex-column"
                data-controller="tooltip"
            >
                <span class="mb-1">
                    {{ article.scheduledAt|format_datetime() }}
                </span>
                <span>
                    {{ article.scheduledAt|time_ago() }}
                </span>
            </time>
        {% else %}
            {{ 'Not yet published'|trans({}, 'admin') }}
        {% endif %}

        {% if translation.isPublished() == true %}
            <div class="ms-auto">
                <twig:Xutim:Admin:Button
                    tag="a"
                    variant="link"
                    class="p-0"
                    data-turbo-frame="modal"
                    href="{{ admin_path('admin_article_edit_publication_date', {id: translation.id}) }}"
                >
                    <twig:Xutim:Admin:Icon name="edit" />
                </twig:Xutim:Admin:Button>
            </div>
        {% endif %}
    </twig:block>
</twig:Xutim:Admin:SidebarItem>
