<turbo-frame id="article-translation-frame">
    <div data-controller="reload-frame">
        <form name="article_translation" method="post">
            <div class="mb-3">
                <label
                    for="article_translation_language_default"
                    class="form-label required"
                    >{{ 'language'|trans({}, 'admin') }}</label
                >
                <select
                    data-action="change->reload-frame#reloadFrame"
                    class="form-select"
                    name="article_translation_language_default"
                    id="article_translation_language_default"
                >
                    {% for trans in article.translations|sort((a, b) => a.locale|language_name <=> b.locale|language_name) %}
                        <option
                            value="{{ trans.locale }}"
                            {% if trans.locale == translation.locale %}selected="selected"{% endif %}
                            data-url-value="{{ path('admin_article_translation_show', {id: article.id, locale: trans.locale}) }}"
                        >
                            {{ trans.locale|language_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label
                    for="article_translation_title_default"
                    class="form-label required"
                >
                    {{ 'title'|trans({}, 'admin') }}
                </label>
                <div class="input-group mb-3">
                    <input
                        type="text"
                        id="article_translation_title_default"
                        value="{{ translation.title }}"
                        class="form-control"
                        disabled="disabled"
                    />
                </div>
            </div>
            <div class="mb-3">
                <label
                    for="article_translation_slug_default"
                    class="form-label required"
                >
                    {{ 'slug'|trans({}, 'admin') }}
                </label>
                <div class="input-group mb-3">
                    <input
                        type="text"
                        id="article_translation_slug_default"
                        value="{{ translation.slug }}"
                        class="form-control"
                        disabled="disabled"
                    />
                </div>
            </div>
            <div class="mb-3">
                <label
                    for="article_translation_description_default"
                    class="form-label"
                    >{{ 'description'|trans({}, 'admin') }}</label
                >
                <textarea
                    id="article_translation_description_default"
                    disabled="disabled"
                    class="form-control"
                >
                    {{ translation.description }}
                </textarea>
            </div>
            <div class="mb-3">
                <label
                    for="article_translation_content_default"
                    class="form-label"
                >
                    {{ 'content'|trans({}, 'admin') }}
                </label>
            </div>

            {{- translation.content|content_fragments_to_admin_html() -}}
        </form>
    </div>
</turbo-frame>
