<div class="card-body">
    <h4 class="subheader">
        {{ 'admin settings'|trans({}, 'admin')|capitalize }}
    </h4>
    <div class="list-group list-group-transparent">
        <a
            href="{{ admin_path('admin_settings_site') }}"
            class="list-group-item list-group-item-action {% if app.current_route == 'admin_settings_site' %}active{% endif %}"
        >
            {{ 'Site'|trans({}, 'admin')|capitalize }}
        </a>

        <a
            class="list-group-item list-group-item-action {% if app.current_route starts with 'admin_user' %}active{% endif %}"
            href="{{ admin_path('admin_user_list', {searchTerm: ''}) }}"
        >
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <twig:Xutim:Admin:Icon name="users" />
            </span>
            <span class="nav-link-title">
                {{ 'users'|trans({}, 'admin')|capitalize }}
            </span>
        </a>
        <a
            href="{{ admin_path('admin_menu_list') }}"
            class="list-group-item list-group-item-action {% if app.current_route starts with 'admin_menu' %}active{% endif %}"
        >
            {{ 'Menu'|trans({}, 'admin')|capitalize }}
        </a>
    </div>
</div>
