{% extends '@XutimCore/admin/modalBase.html.twig' %}

{% set title = 'settings'|trans({}, 'admin')|capitalize %}
{% block title %}
    {{ title }}
{% endblock %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block breadcrumbHeader %}
    <twig:Xutim:Admin:Breadcrumbs>
        <li class="breadcrumb-item">
            <a href="{{ admin_path('admin_settings_site') }}">
                {{ 'settings'|trans({}, 'admin')|capitalize }}
            </a>
        </li>
    </twig:Xutim:Admin:Breadcrumbs>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="row g-0">
            <div class="col-12 col-md-3 border-end">
                {{
                    include('@XutimCore/admin/settings/_settings_navigation.html.twig')
                }}
            </div>
            <div class="col-12 col-md-9 d-flex flex-column">
                <div class="card-body">
                    {% block settingsBody %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
