{% import '@XutimCore/admin/common/badges.html.twig' as badges %}
{% import '@XutimCore/admin/common/translatable.html.twig' as translatable %}
{% set isRootPage = page.isRoot %}
{% set isSelectedPage = selectedPage and selectedPage.id.equals(page.id) %}

<li class="my-2 ms-3{{ isSelectedPage ? ' bg-yellow-lt' : '' }}">
    {% if node.children is empty %}
        <twig:Xutim:Admin:Icon name="chevron-down-left" class="text-black" />
        {{ _self.pageLine(pages, node, page, child, loop.first, loop.last, selectedPage) }}
        {{ _self.subTree(pages, node, page, child, path, selectedPage) }}
    {% else %}
        {% set detailsOpened = path|reduce((carry, sec, k) => carry is same as(true) or page.id.equals(sec.id), false) %}
        <details {{ detailsOpened ? ' open="open"' : '' }} class="text-black">
            <summary class="ms-2{{ isSelectedPage ? ' fw-bold' : '' }}">
                {{ _self.pageLine(pages, node, page, child, loop.first, loop.last, selectedPage) }}
            </summary>
            {{ _self.subTree(pages, node, page, child, path, selectedPage) }}
        </details>
    {% endif %}
</li>

{% macro subTree(pages, node, page, child, path, selectedPage) %}
    {% if node.children is not empty %}
        <ul class="list-unstyled">
            {% for childId in node.children %}
                {% set child = pages[childId] %}
                {{
                    include('@XutimCore/admin/page/_page_recursive_item.html.twig', {
                        pages: pages,
                        node: child,
                        page: child.page,
                        child: true,
                        path: path,
                        selectedPage: selectedPage,
                    })
                }}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro pageLine(pages, node, page, child, first, last, selectedPage) %}
    {% set isSelectedPage = selectedPage and selectedPage.id.equals(page.id) %}
    {# {{ badges.publicationStatusBadge(page) }} #}
    {% set pageTranslation = page.translationByLocaleOrDefault(content_context_language()) %}

    <span class="me-1"></span>

    {% import '@XutimCore/admin/common/translatable.html.twig' as translatable %}
    {{ translatable.languageBadge(pageTranslation) }}

    <a href="{{ path('admin_page_list', {id: page.id}) }}">
        <span class="text-black{{ isSelectedPage ? ' fw-bold' : '' }}">
            {{ page.translationByLocaleOrDefault(content_context_language()).title }}
        </span>
    </a>

    {% if is_granted(constant('Xutim\\CoreBundle\\Entity\\User::ROLE_EDITOR')) %}
        <div class="dropdown float-end">
            <a href="#" class="link-secondary" data-bs-toggle="dropdown">
                <twig:Xutim:Admin:Icon name="dots" />
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a
                    class="dropdown-item"
                    href="{{ path('admin_page_edit', {id: page.id}) }}"
                >
                    <twig:Xutim:Admin:Icon name="edit" class="me-2" />
                    {{ 'edit'|trans|capitalize }}
                </a>

                <div class="dropdown-divider"></div>

                <a
                    class="dropdown-item"
                    href="{{ path('admin_page_new', {id: page.id}) }}"
                >
                    <twig:Xutim:Admin:Icon name="folder" class="me-2" />
                    {{ 'New page'|trans({}, 'admin') }}
                </a>

                <a
                    class="dropdown-item"
                    href="{{ path('admin_article_new', {id: page.id}) }}"
                >
                    <twig:Xutim:Admin:Icon name="article" class="me-2" />
                    {{ 'New article'|trans({}, 'admin') }}
                </a>

                {% if first is not same as(true) or last is not same as(true) %}
                    <div class="dropdown-divider"></div>

                    {% if first is not same as(true) %}
                        <a
                            class="dropdown-item"
                            href="{{ path('admin_page_move', {id: page.id, dir: 'up'}) }}"
                        >
                            <twig:Xutim:Admin:Icon
                                name="arrow-up"
                                class="me-2"
                            />
                            {{ 'move up'|trans({}, 'admin')|capitalize }}
                        </a>
                    {% endif %}

                    {% if last is not same as(true) %}
                        <a
                            class="dropdown-item"
                            href="{{ path('admin_page_move', {id: page.id, dir: 'down'}) }}"
                        >
                            <twig:Xutim:Admin:Icon
                                name="arrow-down"
                                class="me-2"
                            />
                            {{ 'move down'|trans({}, 'admin')|capitalize }}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}
