{% extends '@XutimCore/admin/base.html.twig' %}
{% import '@XutimCore/admin/common/badges.html.twig' as badges %}
{% import '@XutimCore/admin/common/translatable.html.twig' as translatable %}

{% block pageTitle %}
    <twig:Xutim:Admin:Icon name="folder" />
    {%
        set translation = page.translationByLocaleOrAny(content_context_language())
    %}

    {{ translatable.languageBadge(translation) }}
    {{ translation.title }}
{% endblock %}

{% block languageBar %}
    <twig:Xutim:Admin:LanguageContextBar :entity="page" />
{% endblock %}

{% block breadcrumbHeader %}
    <twig:Xutim:Admin:BreadcrumbsPage :page="page" />
{% endblock %}

{% block publicLink %}
    {% if translation is not same as(null) %}
        <twig:Xutim:Admin:PublicPageLink :contentTranslation="translation" />
    {% else %}
        <twig:Xutim:Admin:PublicPageLink />
    {% endif %}
{% endblock %}

{% block pageMenu %}
    {% if translation is not same as(null) %}
        <twig:Xutim:Admin:Button
            tag="a"
            variant="nav"
            href="{{ path('admin_content_translation_revisions', {id: translation.id}) }}"
        >
            <twig:Xutim:Admin:Icon name="history" class="me-1" />
            History
        </twig:Xutim:Admin:Button>
    {% endif %}

    <twig:Xutim:Admin:Button
        tag="a"
        variant="nav"
        href="{{ path('admin_page_list', {id: page.id}) }}"
    >
        <twig:Xutim:Admin:Icon name="search" class="me-1" />
        Show
    </twig:Xutim:Admin:Button>

    <twig:Xutim:Admin:Button
        tag="button"
        id="sidebar-toggle"
        variant="nav"
        href="#"
    >
        <twig:Xutim:Admin:Icon name="layout-sidebar-right" class="me-1" />
        Sidebar
    </twig:Xutim:Admin:Button>
{% endblock %}

{% block sidebar %}
    <twig:Xutim:Admin:Sidebar :title="">
        <twig:block name="header">
            <twig:Xutim:Admin:SidebarTabs>
                <twig:Xutim:Admin:SidebarTab target="general-tab">
                    <twig:Xutim:Admin:Button
                        variant="tab"
                        type="a"
                        class="active"
                        data-bs-toggle="tab"
                        href="#general-tab"
                        role="tab"
                        aria-controls="general-tab"
                        aria-selected="true"
                    >
                        General
                    </twig:Xutim:Admin:Button>
                </twig:Xutim:Admin:SidebarTab>
                <twig:Xutim:Admin:SidebarTab target="translation-reference-tab">
                    <twig:Xutim:Admin:Button
                        variant="tab"
                        type="a"
                        data-bs-toggle="tab"
                        href="#translation-reference-tab"
                        role="tab"
                        aria-controls="translation-reference-tab"
                        aria-selected="false"
                    >
                        Translation Reference
                    </twig:Xutim:Admin:Button>
                </twig:Xutim:Admin:SidebarTab>
            </twig:Xutim:Admin:SidebarTabs>
        </twig:block>
        <twig:block name="content">
            <div class="tab-content">
                <div id="general-tab" class="tab-pane active" role="tabpanel">
                    {{
                        include('@XutimCore/admin/page/_page_sidebar.html.twig', {translation: translation})
                    }}
                </div>
                <div
                    id="translation-reference-tab"
                    class="tab-pane m-4"
                    role="tabpanel"
                >
                    {% if translation != null %}
                        {{
                            include('@XutimCore/admin/page/page_translation_show.html.twig', {page: page, translation: translation})
                        }}
                    {% endif %}
                </div>
            </div>
        </twig:block>
    </twig:Xutim:Admin:Sidebar>
{% endblock %}

{% block body %}
    <div class="card mb-3">
        <div class="card-body p-0">
            <div class="tab-pane active show p-4">
                {{
                    include('@XutimCore/admin/content_translation/_form.html.twig', {
                        disableEditing: not is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_DEVELOPER')),
                    })
                }}
                {%
                    if not translation and page.translations|length > 0 and form.slug.vars.value is empty
                %}
                    {{
                        include('@XutimCore/admin/page_translation/new_translation_modal.html.twig', {page: page})
                    }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
