{% extends '@XutimCore/admin/base.html.twig' %}
{% import '@XutimCore/admin/common/badges.html.twig' as badges %}
{% import '@XutimCore/admin/common/translatable.html.twig' as translatable %}
{% import '@XutimCore/admin/common/icons.html.twig' as icons %}
{% import '@XutimCore/admin/page/_page_recursive_item.html.twig' as tree %}

{% block breadcrumbHeader %}
    {% if selectedPage %}
        <twig:Xutim:Admin:BreadcrumbsPage :page="selectedPage" />
    {% else %}
        <twig:Xutim:Admin:Breadcrumbs>
            <li class="breadcrumb-item">Pages</li>
        </twig:Xutim:Admin:Breadcrumbs>
    {% endif %}
{% endblock %}

{% if selectedPage %}
    {%
        set trans = selectedPage.translationByLocaleOrAny(content_context_language())
    %}
{% endif %}

{% block publicLink %}
    {% if selectedPage %}
        <twig:Xutim:Admin:PublicPageLink :contentTranslation="trans" />
    {% else %}
        <twig:Xutim:Admin:PublicPageLink />
    {% endif %}
{% endblock %}
{% block pageMenu %}
    {% if selectedPage %}
        {% if trans is not same as(null) %}
            <twig:Xutim:Admin:Button
                tag="a"
                variant="nav"
                href="{{ admin_path('admin_content_translation_revisions', {id: trans.id}) }}"
            >
                <twig:Xutim:Admin:Icon name="history" class="me-1" />
                History
            </twig:Xutim:Admin:Button>
        {% endif %}
        {%
            if is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_TRANSLATOR'))
        %}
            <twig:Xutim:Admin:Button
                tag="a"
                variant="nav"
                href="{{ admin_path('admin_page_edit', {id: selectedPage.id}) }}"
            >
                <twig:Xutim:Admin:Icon name="edit" class="me-1" />
                {{ 'Edit'|trans({}, 'admin') }}
            </twig:Xutim:Admin:Button>
        {% endif %}
        {%
            if is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_EDITOR'))
        %}
            <twig:Xutim:Admin:Button
                tag="a"
                variant="nav"
                href="{{ admin_path('admin_page_new', {id: selectedPage.id}) }}"
            >
                <twig:Xutim:Admin:Icon name="folder" class="me-1" />
                {{ 'New page'|trans({}, 'admin') }}
            </twig:Xutim:Admin:Button>
        {% endif %}
        {%
            if is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_EDITOR'))
        %}
            <twig:Xutim:Admin:Button
                tag="a"
                variant="nav"
                href="{{ admin_path('admin_article_new', {id: selectedPage.id}) }}"
            >
                <twig:Xutim:Admin:Icon name="article" class="me-1" />
                {{ 'New article'|trans({}, 'admin') }}
            </twig:Xutim:Admin:Button>
        {% endif %}
        {% if selectedPage %}
            <twig:Xutim:Admin:Button
                tag="button"
                id="sidebar-toggle"
                variant="nav"
                href="#"
            >
                <twig:Xutim:Admin:Icon
                    name="layout-sidebar-right"
                    class="me-1"
                />
                Sidebar
            </twig:Xutim:Admin:Button>
        {% endif %}
    {% else %}
        {%
            if is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_EDITOR'))
        %}
            <twig:Xutim:Admin:Button
                tag="a"
                variant="nav"
                href="{{ admin_path('admin_page_new') }}"
            >
                <twig:Xutim:Admin:Icon name="folder" class="me-1" />
                {{ 'New page'|trans({}, 'admin') }}
            </twig:Xutim:Admin:Button>
        {% endif %}
        {%
            if is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_EDITOR'))
        %}
            <twig:Xutim:Admin:Button
                tag="a"
                variant="nav"
                href="{{ admin_path('admin_article_new') }}"
            >
                <twig:Xutim:Admin:Icon name="article" class="me-1" />
                {{ 'New article'|trans({}, 'admin') }}
            </twig:Xutim:Admin:Button>
        {% endif %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if selectedPage %}
        <twig:Xutim:Admin:Sidebar :title="">
            <twig:block name="header">
                <twig:Xutim:Admin:SidebarTabs>
                    <twig:Xutim:Admin:SidebarTab target="general-tab">
                        <twig:Xutim:Admin:Button
                            variant="tab"
                            type="a"
                            class="active"
                            data-bs-toggle="tab"
                            href="#general-tab"
                            role="tab"
                            aria-controls="general-tab"
                            aria-selected="true"
                        >
                            General
                        </twig:Xutim:Admin:Button>
                    </twig:Xutim:Admin:SidebarTab>
                </twig:Xutim:Admin:SidebarTabs>
            </twig:block>
            <twig:block name="content">
                <div class="tab-content">
                    <div
                        id="general-tab"
                        class="tab-pane active"
                        role="tabpanel"
                    >
                        {{
                            include('@XutimCore/admin/page/_page_sidebar.html.twig', {page: selectedPage, translation: translation})
                        }}
                    </div>
                </div>
            </twig:block>
        </twig:Xutim:Admin:Sidebar>
    {% endif %}
{% endblock %}

{% block pagePreTitle %}
    {% if selectedPage %}
        {{ 'Page information'|trans({}, 'admin') }}
    {% endif %}
{% endblock %}

{% block pageTitle %}
    {% if selectedPage %}
        {%
            set trans = selectedPage.translationByLocaleOrDefault(content_context_language())
        %}
        {{ translatable.languageBadge(trans) }}
        {{ trans.title }}
    {% endif %}
{% endblock %}

{% block languageBar %}
    {% if selectedPage %}
        <twig:Xutim:Admin:LanguageContextBar
            :entity="selectedPage"
            class="d-flex justify-content-end align-items-center mb-2"
        />
    {% else %}
        <twig:Xutim:Admin:LanguageContextBar
            class="d-flex justify-content-end align-items-center mb-2 py-2"
        />
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="{% if selectedPage %}col-md-4{% else %}col-md-12{% endif %}">
            <div class="card">
                {% if hierarchy.pages is not empty %}
                    {{
                        icons.sprite(['dots', 'arrow-up', 'arrow-down', 'edit', 'folder', 'article', 'chevron-down-left'])
                    }}
                    {%
                        set selectedId = selectedPage ? selectedPage.id.toRfc4122 : null
                    %}
                    {% set openIds = {} %}
                    {% for sec in path %}
                        {%
                            set openIds = openIds|merge({(sec.id.toRfc4122): true})
                        %}
                    {% endfor %}
                    {%
                        set canEdit = is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_EDITOR'))
                    %}

                    {% set transEdit = 'edit'|trans|capitalize %}
                    {% set transNewPage = 'New page'|trans({}, 'admin') %}
                    {% set transNewArticle = 'New article'|trans({}, 'admin') %}
                    {%
                        set transMoveUp = 'move up'|trans({}, 'admin')|capitalize
                    %}
                    {%
                        set transMoveDown = 'move down'|trans({}, 'admin')|capitalize
                    %}

                    <ul class="list-unstyled list-group-flush me-2">
                        {{
                            tree.render_list(
                                    hierarchy.pages,
                                    hierarchy.roots,
                                    selectedId,
                                    openIds,
                                    canEdit,
                                    transEdit,
                                    transNewPage,
                                    transNewArticle,
                                    transMoveUp,
                                    transMoveDown,
                                  )
                        }}
                    </ul>
                {% else %}
                    <div class="card-body">
                        <p>
                            {{
                                'There are no pages in "%locale%" translation.'|trans({'%locale%': content_context_language()|language_name}, 'admin')
                            }}
                        </p>
                        {%
                            if is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_EDITOR'))
                        %}
                            <p>
                                <a href="{{ admin_path('admin_page_new') }}">
                                    {{ 'Add a new page'|trans({}, 'admin') }}
                                </a>
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="card-footer p-3">
                    {%
                        set archivedParam = app.request.query.boolean('archived', false)
                    %}
                    {%
                        set translatedParam = app.request.query.boolean('translated', false)
                    %}
                    <p>
                        {% if archivedParam is same as(false) %}
                            <twig:Xutim:Admin:Button
                                tag="a"
                                variant="link"
                                href="{{ admin_path('admin_page_list', {archived: true, translated: translatedParam, id: selectedPage.id.toRfc4122 ?? null}) }}"
                            >
                                <twig:Xutim:Admin:Icon name="archive" />
                                {{ 'Show archived pages'|trans({}, 'admin') }}
                            </twig:Xutim:Admin:Button>
                        {% else %}
                            <twig:Xutim:Admin:Button
                                tag="a"
                                variant="link"
                                href="{{ admin_path('admin_page_list', {archived: false, translated: translatedParam, id: selectedPage.id.toRfc4122 ?? null}) }}"
                            >
                                <twig:Xutim:Admin:Icon name="article" />
                                {{
                                    'Show without archived pages'|trans({}, 'admin')
                                }}
                            </twig:Xutim:Admin:Button>
                        {% endif %}
                    </p>
                    <p class="mb-2">
                        {%
                            if app.request.query.boolean('translated', false) is same as(false)
                        %}
                            <twig:Xutim:Admin:Button
                                tag="a"
                                variant="link"
                                href="{{ admin_path('admin_page_list', {archived: archivedParam, translated: true, id: selectedPage.id.toRfc4122 ?? null}) }}"
                            >
                                <twig:Xutim:Admin:Icon name="language" />
                                {{
                                    'Show only translated pages'|trans({}, 'admin')
                                }}
                            </twig:Xutim:Admin:Button>
                        {% else %}
                            <twig:Xutim:Admin:Button
                                tag="a"
                                variant="link"
                                href="{{ admin_path('admin_page_list', {archived: archivedParam, translated: false, id: selectedPage.id.toRfc4122 ?? null}) }}"
                            >
                                <twig:Xutim:Admin:Icon name="article" />
                                {{
                                    'Show untranslated and translated pages'|trans({}, 'admin')
                                }}
                            </twig:Xutim:Admin:Button>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% if selectedPage %}
            <div class="col-md-8">
                <div class="row">
                    {{
                        include('@XutimCore/admin/page/_page_show_body.html.twig', {page: selectedPage})
                    }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
