{% extends '@XutimCore/admin/modalBase.html.twig' %}
{% import '@XutimCore/admin/common/forms.html.twig' as forms %}

{% block pageTitle %}{{ 'New menu item'|trans({}, 'admin')|capitalize }}{%
    endblock
%}

{% block body %}
    <div class="card">
        <div class="card-body">
            {{
                form_start(form, {attr: {
                id: form.vars.id,
                'data-controller': 'menu-item',
                'data-menu-item-is-update-value': item is defined and item is not same as (null) ? true : false,
            }})
            }}
            {% if item is not defined or item is same as(null) %}
                <div class="mb-3">
                    <label class="form-label">
                        {{ 'Select a type of a menu item'|trans({}, 'admin') }}
                    </label>
                    <div class="form-selectgroup">
                        <label class="form-selectgroup-item">
                            <input
                                type="radio"
                                name="menu-item-type"
                                value="page"
                                class="form-selectgroup-input"
                                data-action="click->menu-item#showPage"
                            />
                            <span class="form-selectgroup-label">
                                <twig:Xutim:Admin:Icon name="folder" />
                                {{ 'page'|trans({}, 'admin')|capitalize }}
                            </span>
                        </label>
                        <label class="form-selectgroup-item">
                            <input
                                type="radio"
                                name="menu-item-type"
                                value="article"
                                class="form-selectgroup-input"
                                data-action="click->menu-item#showArticle"
                            />
                            <span class="form-selectgroup-label">
                                <twig:Xutim:Admin:Icon name="article" />
                                {{ 'article'|trans({}, 'admin')|capitalize }}
                            </span>
                        </label>
                    </div>
                </div>
            {% endif %}

            <div data-menu-item-target="pageForm">
                {{ form_row(form.page) }}
                <div class="mb-3" data-menu-item-target="overwriteCheckbox">
                    <div class="form-check">
                        <input
                            type="checkbox"
                            id="menu-item-overwrite"
                            class="form-check-input"
                            value="0"
                            data-action="click->menu-item#togglePageOverwriteLink"
                        />
                        <label
                            class="form-check-label"
                            for="menu-item-overwrite"
                        >
                            {{ 'Overwrite link'|trans({}, 'admin') }}
                        </label>
                    </div>
                </div>
                <div
                    class="row align-items-start mb-3"
                    id="page-overwrite-link-form"
                    data-menu-item-target="pageOverwriteLinkForm"
                >
                    {{ form_row(form.pageLink, {row_attr: {class: 'col'}}) }}
                    {{
                        form_row(form.anchorSnippet, {row_attr: {class: 'col'}})
                    }}
                </div>
                {#
                <div class="mb-3">{{ form_row(form.hasLink) }}</div>
                #}
            </div>
            <div data-menu-item-target="articleForm">
                {{ form_row(form.article) }}
            </div>

            <div class="mb-3" data-menu-item-target="submitButton">
                <twig:Xutim:Admin:Button
                    type="submit"
                    variant="primary"
                    id="menu_item_submit"
                    form="{{ form.vars.id }}"
                    role="submit"
                >
                    {{ 'submit'|trans({}, 'admin') }}
                </twig:Xutim:Admin:Button>
            </div>

            {{ form_row(form._token) }}
            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
{% endblock %}

{% block stream_success %}
    <turbo-stream action="refresh"></turbo-stream>
{% endblock %}
